<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Note for the Patient</h2>
	</div>
	 <p class="alert alert-danger" th:if="${!#strings.isEmpty(ErrorPatientExistentMessage)}" th:text="${ErrorPatientExistentMessage}"></p>

	<div class="row">
		<form action="#" th:action="@{/note/add/validate/{patientId}(patientId=${note.patientId})}"  method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group">
				<label for="patientId" class="col-sm-2 control-label">Patient Id</label>
				<div class="col-sm-10">
					<input type="text" readonly="true" th:field="*{note.patientId}" id="patientId" placeholder="Patient Id" class="col-4">
							<p class="text-danger" th:if="${#fields.hasErrors('note.patientId')}" th:errors="*{note.patientId}"></p>
                        </div>
                    </div>
			<div class="form-group">
				<label for="creationDateTime" class="col-sm-2 control-label">Creation Date & Time</label>
				<div class="col-sm-10">
					<input type="datetime-local" th:field="*{note.creationDateTime}" id="creationDateTime" placeholder="Creation Date & Time" class="col-4">
					<p class="text-danger" th:if="${#fields.hasErrors('note.creationDateTime')}" th:errors="*{note.creationDateTime}"></p>
				</div>
			</div>
                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Comment</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{note.comment}" id="comment" placeholder="Comment" class="col-4">
                        	<p class="text-danger" th:if="${#fields.hasErrors('note.comment')}" th:errors="*{note.comment}"></p>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-danger btn-sm" href="/patient/list">Cancel</a>
					<input class="btn btn-primary btn-sm" type="submit" value="Add note">
				</div>
			</div>

		</form>
	</div>

</div>
</body>
</html>